/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  text-align: center;
  margin: 10px;
}

.pokemon-card img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.clear-row {
  flex-basis: 100%;
  height: 0;
}
